<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>광고단가계산기</title>

    <link rel="stylesheet" href="/css/dashboard/dashboard.css">
    <link rel="stylesheet" href="/css/fontawesome/5.15.3/all.min.css">


    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>


</head>

<body class="sidebar-menu-collapsed">

<section>
    <!-- sidebar menu start -->
    <div class="sidebar-menu sticky-sidebar-menu">
        <!-- logo start -->
        <div class="logo">
            <h1><a href="dashboard">광고단가계산기</a></h1>
        </div>

        <!-- if logo is image enable this -->
        <div class="logo-icon text-center">
            <a href="index" title="logo"><img src="/images/logo.png" alt="logo-icon"> </a>
        </div>
        <!-- //logo end -->

        <div class="sidebar-menu-inner">
            <!-- sidebar nav start -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="main"><i class="fa fa-chart-bar"></i><span> Dashboard</span></a></li>
                <li><a href="grid"><i class="fa fa-money-check-alt"></i> <span>매체별 광고비</span></a></li>
                <li><a href="user"><i class="fa fa-user"></i> <span>회원관리</span></a></li>
                <li><a href="#"><i class="fa fa-th"></i> <span>메뉴관리</span></a></li>
            </ul>
            <!-- //sidebar nav end -->

            <!-- toggle button start -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span></span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- //toggle button end -->
        </div>
    </div>
    <!-- //sidebar menu end -->

    <!-- header-starts -->
    <div class="header sticky-header">
        <div class="menu-left" style="float: left;">
            <ul>
                <li class="btn btn-style border-btn"><a href="https://devadunit.jasongroup.co.kr/" target="_blank">제이슨그룹(앱)</a>
                </li>
                <li class="btn btn-style border-btn"><a href="/index" target="_blank">제이슨그룹(웹)</a></li>
                <li class="btn btn-style border-btn"><a href="/aboutgoods" target="_blank">어바웃굿즈</a></li>
            </ul>
        </div>
        <!-- notification menu start -->
        <div class="menu-right">
            <div class="navbar user-panel-top">
                <div class="profile_details">
                    <ul>
                        <li class="dropdown profile_details_drop">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"
                               aria-haspopup="true" aria-expanded="false">
                                <div class="profile_img">
                                    <img src="{{imgUrl}}" class="rounded-circle" alt=""/>
                                    <div class="user-active">
                                        <span></span>
                                    </div>
                                </div>
                            </a>
                            <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                <li class="user-info"><h5 class="user-name">{{empName}}</h5><span class="status ml-2">Available</span>
                                </li>
                                <li><a href="#"><i class="lnr lnr-cog"></i>Setting</a></li>
                                <li class="logout"><a href="#sign-up.html"><i class="fa fa-power-off"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--notification menu end -->
    </div>
    <!-- //header-ends -->

    <!-- disable body scroll when navbar is in active -->
    <script>
        $(function () {
            // Collapse Sidebar
            $('.sidebar-menu-inner').click(function () {
                $('body').toggleClass('noscroll');

                // 사이트 이동 영역 부분 너비 조정
                var sidebar = document.querySelector('.sidebar-menu.sticky-sidebar-menu');
                var sidebarWidth = sidebar.offsetWidth;

                if (sidebarWidth < 100) {
                    sidebarWidth = 0;
                } else {
                    // dashboard.css 파일에 기본적으로 50px 적혀있음.
                    sidebarWidth = sidebarWidth - 50;
                }

                var menu = document.querySelector('.menu-left');
                menu.style.marginLeft = sidebarWidth + "px";
            })

        });
    </script>
    <!-- disable body scroll when navbar is in active -->