{{>layout/header}}

<!-- main content start -->

<style>
    .overLayer {
        display: none;
        width: 180px;
        border: 2px solid gray;
        background-color: #FFF;
        padding: 10px;
        font-size: 12px;
        line-height: 15px;
        font-weight: 100
    }
</style>
<div class="main-content">
    <!-- content -->
    <div class="container-fluid content-top-gap">

        <div class="welcome-msg pt-4 pb-4">
            <b><span class="text-primary">회원관리</span></b>
        </div>

        <div class="data-tables">
            <div class="row">
                <div class="col-lg-12 mb-4">
                    <div class="card card_border p-4">
                        <div class="table-responsive">
                            <div id="example_wrapper" class="dataTables_wrapper no-footer">
                                <div id="example_filter" class="dataTables_length"
                                     style="display: inline-block !important;">
                                    <span>총</span>
                                    <span class="mr-3" style="font-weight: bolder;" id="listTotal">0</span>

                                    <span>목록수</span>
                                    <select class="custom-select" id="rowNumber" onchange="chagneNumbers(this)">
                                        <option selected value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                    </select>
                                </div>


                                <div id="example_filter" class="dataTables_filter">
                                    <button type="button" class="btn btn-primary mr-3" id="userAddBtn"
                                            style="padding-right: 20px;">회원 추가
                                    </button>

                                    <select class="custom-select" id="listNumber">
                                        <option selected value="name">이름</option>
                                        <option value="email">이메일</option>
                                    </select>
                                    <label>
                                        <input type="search" class="" placeholder="검색" aria-controls="example"
                                               id="searchText">
                                    </label>
                                    <button type="button" class="btn btn-secondary" id="userAddBtn"
                                            onclick="searchEvnt();">검색
                                    </button>
                                </div>
                                <table id="dataTable" class="display dataTable no-footer" style="width: 100%;"
                                       role="grid" aria-describedby="example_info">
                                    <thead>
                                    <tr>
                                        <th>이름</th>
                                        <th>조직</th>
                                        <th>이메일</th>
                                        <th>권한</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //content -->
</div>
<!-- main content end-->
</section>

<!-- layer aread -->
<div id="divLayer" class="overLayer">
    <span id="name"></span>
</div>

<!--footer section start-->
<footer class="dashboard">
    <p>&nbsp;</p>
</footer>
<!--footer section end-->


<!-- Bootstrap Core JavaScript -->
<script src="/js/dashboard/bootstrap.min.js"></script>
<script src="/js/datatables/jquery.dataTables.js"></script>
<script src="/js/datatables/scroller.bootstrap4.min.js"></script>
<script src="/js/datatables/dataTables.fixedColumns.js"></script>

<script>
    //테이블 객체
    var table;

    //정렳하기 위한 컬럼 명
    var columns = [
        {data: 'employeeName'},
        {data: 'email'}
    ]

    /*데이터 테이블 그리기 */
    function drawData() {

        table = $('#dataTable').DataTable({
            ajax: {
                url: '/api/dashboard/list',
                type: 'POST',
                data: function (d, settings) {
                    var api = new $.fn.dataTable.Api(settings);

                    d.page = api.page.info().page;   // 넘어갈 페이지 0 부터  시작
                    d.size = $('#rowNumber').val();  // 한페이지에 보여줄 rows 수
                    d.sidx = columns[Number(api.order()[0][0])].data;  // 정렬할 컬럼
                    d.sord = api.order()[0][1]  // 정렬 기준
                    d.searchText = $('#searchText').val();  // 검색 어
                },
                dataFilter: function (data) {
                    var json = $.parseJSON(data);   //  넘어온 데이터 json 화
                    json.recordsTotal = json.total;    // 레코트 토탈
                    json.recordsFiltered = json.total;  // 뭔지 모르겠는데..하래서..
                    json.data = json.content;   // 데이터 삽입
                    $('#listTotal').text(json.total);  // 상단에 표시할 토탈 데이터
                    return JSON.stringify(json);   // 테이블에 결과데이터 전송
                }
            }
            , deferRender: true
            , scrollY: 500  // 스크롤 크기
            , scrollX: true   // 좌우 스크롤
            , scrollCollapse: true   // 모름
            , scroller: true   // 스크롤 생성
            , searching: false   // 서치 기능 끔
            , ordering: true   // 정렬기능 켬
            , processing: true   // 서버사이드 로딩 시 true
            , serverSide: true   // 서버사이드 기능 켬
            , paging: true   // 페이징 처리
            , pagingType: "full_numbers"   // 전체 번호
            , lengthChange: false   // row 몇개씩 보일지 기본기능 끔
            , pageLength: $('#rowNumber').val()   // 한페이지에 보여줄 rows 수 설정
            , columnDefs: [
                {
                    targets: 3,
                    className: 'text-center'
                }
            ]
            , columns: [
                {
                    data: function (data) {
                        var str = '';
                        str += '<img  class="rounded-circle mr-2" width="40px"  src="' + data.imageUrl + '">' + data.employeeName;
                        return str;
                    }
                },
                {
                    data: function (data) {
                        var str = '';
                        str += data.department + '<br>' + data.section + ' ' + data.team + ' ' + data.part;
                        return str;
                    }
                },
                {data: 'email'},
                {
                    data: function (data) {
                        var str = '';

                        var site_1_className = data.approvalSite1 > 0 ? 'tooltip badge badge-success' : 'tooltip badge badge-gray';
                        var site_2_className = data.approvalSite1 > 0 ? 'tooltip badge badge-success' : 'tooltip badge badge-gray';
                        var site_3_className = data.approvalSite1 > 0 ? 'tooltip badge badge-success' : 'tooltip badge badge-gray';

                        var site1 = '';
                        var site2 = '';
                        var site3 = '';

                        for (let i = 0; i < data.menuList.length; i++) {
                            var obj = data.menuList[i];

                            if (obj.site === '0') {
                                site1 += obj.menuName + "<br>";
                            } else if (obj.site === '1') {
                                site2 += obj.menuName + "<br>";
                            } else if (obj.site === '2') {
                                site3 += obj.menuName + "<br>";
                            }
                        }
                        str += '<div class="' + site_1_className + '" wr_name="' + site1 + '">' + ' 광고단가계산기 앱' + '</div>';
                        str += '<div class="' + site_2_className + '" wr_name="' + site2 + '"  style="margin-left: 5px;">' + ' 광고단가계산기 웹' + '</div>';
                        str += '<div class="' + site_3_className + '" wr_name="' + site3 + '"  style="margin-left: 5px;">' + ' 어바웃굿즈' + '</div>';

                        return str;
                    }
                }
            ]
        });

        //테이블이 그려진 후 이벤트처리
        table.on('draw', function (e) {
            initLayer();
        });
    }


    function initLayer() {
        $('.tooltip').mouseover(function (e) { // mouse hover 좌표
            $(this).mousemove(function (e) {
                var t = e.pageY + 10;
                var l = e.pageX + 10;
                var layer_content = $(this).attr("wr_name");

                $('#divLayer #name').empty().append(layer_content);
                if (layer_content) {
                    $('#divLayer').css({"top": t, "left": l, "position": "absolute", "opacity": "0,8"}).show();
                }
            });
        });
        $('.tooltip').mouseout(function () {
            $('#divLayer').hide();
        });
    }


    function searchEvnt() {
        $('#dataTable').DataTable().ajax.reload();
    }

    function chagneNumbers(selBox) {
        $('#dataTable').DataTable().page.len($(selBox).val()).draw();
    }


    $(document).ready(function () {
        drawData();
    });

</script>
</body>
</html>