.empty-2 {
    padding-left: 10px;
    padding-top:2px;
}

.empty-5 {
    padding-left: 10px;
    padding-top:5px;
}

.empty-10 {
    padding-left: 10px;
    padding-top:10px;
}

.empty-20 {
    padding-left: 10px;
    padding-top:20px;
}

.bs-docs-section {
    padding-left: 10px;
    padding-top:20px;
}

.btn-secondary-period {
  color: #000;
  background-color: #e9ecef;
  border-color: #e9ecef;
  font-size: 12px;;
}

.btn-secondary-period:hover {
  color: #000;
  background-color: #eceff1;
  border-color: #ebeef1;
}

.btn-check:focus + .btn-secondary-period, .btn-secondary-period:focus {
  color: #000;
  background-color: #eceff1;
  border-color: #ebeef1;
  box-shadow: 0 0 0 0.25rem rgba(198, 201, 203, 0.5);
}

.btn-check:checked + .btn-secondary-period,
.btn-check:active + .btn-secondary-period, .btn-secondary-period:active, .btn-secondary-period.active,
.show > .btn-secondary-period.dropdown-toggle {
  color: #000;
  background-color: #edf0f2;
  border-color: #ebeef1;
}

.btn-check:checked + .btn-secondary-period:focus,
.btn-check:active + .btn-secondary-period:focus, .btn-secondary-period:active:focus, .btn-secondary-period.active:focus,
.show > .btn-secondary-period.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(198, 201, 203, 0.5);
}

.btn-secondary-period:disabled, .btn-secondary-period.disabled {
  color: #000;
  background-color: #e9ecef;
  border-color: #e9ecef;
}

.bs-component {
  margin-top: 0;
  margin-bottom: 0;
}

.text-warning-datatime {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
  font-size: 12px;
}

.col-lg-13 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 97.666667%;
}

.col-lg-14 {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 940px;
}

.btn-outline-primary-title {
  color: #636363;
  background-color: #ffffff;
  border-color: #2fa4e7;
  width: 150px;
}

.btn-outline-primary-title:hover {
  color: #fff;
  background-color: #2fa4e7;
  border-color: #2fa4e7;
}

.btn-check:focus + .btn-outline-primary-title, .btn-outline-primary-title:focus {
  box-shadow: 0 0 0 0.25rem rgba(47, 164, 231, 0.5);
}

.btn-check:checked + .btn-outline-primary-title,
.btn-check:active + .btn-outline-primary-title, .btn-outline-primary-title:active, .btn-outline-primary-title.active, .btn-outline-primary-title.dropdown-toggle.show {
  color: #fff;
  background-color: #2fa4e7;
  border-color: #2fa4e7;
}

.btn-check:checked + .btn-outline-primary-title:focus,
.btn-check:active + .btn-outline-primary-title:focus, .btn-outline-primary-title:active:focus, .btn-outline-primary-title.active:focus, .btn-outline-primary-title.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(47, 164, 231, 0.5);
}

.btn-outline-primary-title:disabled, .btn-outline-primary-title.disabled {
  color: #2fa4e7;
  background-color: transparent;
}

.btn-outline-primary-summary {
  color: #636363;
  background-color: #ffffff;
  border-color: #2fa4e7;
  width: 150px;
  font-size: 10px;
}

.btn-check:focus + .btn-outline-primary-summary, .btn-outline-primary-summary:focus {
  box-shadow: 0 0 0 0.25rem rgba(47, 164, 231, 0.5);
}

.btn-check:checked + .btn-outline-primary-summary,
.btn-check:active + .btn-outline-primary-summary, .btn-outline-primary-summary:active, .btn-outline-primary-summary.active, .btn-outline-primary-summary.dropdown-toggle.show {
  color: #fff;
  background-color: #2fa4e7;
  border-color: #2fa4e7;
}

.btn-check:checked + .btn-outline-primary-summary:focus,
.btn-check:active + .btn-outline-primary-summary:focus, .btn-outline-primary-summary:active:focus, .btn-outline-primary-summary.active:focus, .btn-outline-primary-summary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(47, 164, 231, 0.5);
}

.btn-outline-primary-summary:disabled, .btn-outline-primary-summary.disabled {
  color: #2fa4e7;
  background-color: transparent;
}

.btn-outline-info-title {
  color: #033c73;
  border-color: #033c73;
  width: 150px;
}

.btn-outline-info-title:hover {
  color: #fff;
  background-color: #033c73;
  border-color: #033c73;
}

.btn-check:focus + .btn-outline-info-title, .btn-outline-info-title:focus {
  box-shadow: 0 0 0 0.25rem rgba(3, 60, 115, 0.5);
}

.btn-check:checked + .btn-outline-info-title,
.btn-check:active + .btn-outline-info-title, .btn-outline-info-title:active, .btn-outline-info-title.active, .btn-outline-info-title.dropdown-toggle.show {
  color: #fff;
  background-color: #033c73;
  border-color: #033c73;
}

.btn-check:checked + .btn-outline-info-title:focus,
.btn-check:active + .btn-outline-info-title:focus, .btn-outline-info-title:active:focus, .btn-outline-info-title.active:focus, .btn-outline-info-title.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(3, 60, 115, 0.5);
}

.btn-outline-info-title:disabled, .btn-outline-info-title.disabled {
  color: #033c73;
  background-color: transparent;
}

.btn-outline-info-summary {
  color: #033c73;
  border-color: #033c73;
  width: 150px;
  font-size: 10px;
}

.btn-outline-info-summary:hover {
  color: #fff;
  background-color: #033c73;
  border-color: #033c73;
}

.btn-check:focus + .btn-outline-info-summary, .btn-outline-info-summary:focus {
  box-shadow: 0 0 0 0.25rem rgba(3, 60, 115, 0.5);
}

.btn-check:checked + .btn-outline-info-summary,
.btn-check:active + .btn-outline-info-summary, .btn-outline-info-summary:active, .btn-outline-info-summary.active, .btn-outline-info-summary.dropdown-toggle.show {
  color: #fff;
  background-color: #033c73;
  border-color: #033c73;
}

.btn-check:checked + .btn-outline-info-summary:focus,
.btn-check:active + .btn-outline-info-summary:focus, .btn-outline-info-summary:active:focus, .btn-outline-info-summary.active:focus, .btn-outline-info-summary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(3, 60, 115, 0.5);
}

.btn-outline-info-summary:disabled, .btn-outline-info-summary.disabled {
  color: #033c73;
  background-color: transparent;
}

.calendar-form {
  width: 150px;
  font-size: 16px;
  padding: 2px 2px 5px 30px; 
  border:1px solid #CACACA; 
  background:url(../images/ico_date.png) no-repeat 10px;
  background-size:15px; 
  background-color: white;
}

.modal-title-name {
  width: 70px;
  height: 40px;
  padding-top: 15px;
  display: inline-block;
}

.modal-title-content {
  display: inline-block;
}